.c-voting-view .header-acc {
    display: flex;
    justify-content: space-between;
}

.c-voting-view .voting-btm {
    margin-top: 1%;
    display: flex;
    justify-content: space-evenly;
}

.c-voting-view {
    width: 100%;
}

.c-voting-view .end-date-section {
    display: flex;
    justify-content: space-between
}

.c-voting-view .charts , .c-voting-view .card-body {
    text-align: left;
}

.c-voting-view .card-body button {
    margin-bottom: 1em;
    background-color: lightslategray;
    border-color: lightslategray;
}