.p-login {
    display: flex;
    justify-content: center;
    height: 100%;
}

.p-login::after {
    background-image: url("https://static.dezeen.com/uploads/2018/11/bruo-ole-scheeren-bangkok-thailand-tallest-building_dezeen_2364_hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 

    height: 100%;
}

.p-login .form-group {
    width: 100%;
    text-align: initial;
}