.p-votings .votings-cols {
    display: flex;
    justify-content: center;
}

.p-votings {
    display: block;
    position: relative;
    height: 100%;
}

.p-votings::after {
    background-image: url("https://static.dezeen.com/uploads/2018/11/bruo-ole-scheeren-bangkok-thailand-tallest-building_dezeen_2364_hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 

    height: 100%;
}

.p-votings h3 {
    margin-top: 1rem;
}

.p-votings .filters {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.p-votings .sort-by {
    margin: 2.5%;
}

.p-votings .new-voting-btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
}

.p-votings .accor-size {
    width: 100%;
    height: 100%;
}

.p-votings .search-size {
    padding-left: 0;
}