.p-tenants {
    /* display: block; */
    position: relative;
    /* height: 100%; */
}

.p-tenants::after {
    background-image: url("https://static.dezeen.com/uploads/2018/11/bruo-ole-scheeren-bangkok-thailand-tallest-building_dezeen_2364_hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 

    height: 100%;
}

.p-tenants .filters {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.p-tenants .sort-by {
    margin: 2.5%;
}

.p-tenants .new-msg-btn {
    display: flex;
    justify-content: flex-end;
}

