.c-tenant-view .header-acc {
    display: flex;
    justify-content: space-between;
}

.c-tenant-view .msg-comments-view {
    display: flex;
    justify-content: space-between;
}

.c-tenant-view .edit-btm {
    margin-top: 1%;
    display: flex;
    justify-content: space-evenly;
}

.c-tenant-view .edit-btm .btn{
    margin: 1px;
}

.c-tenant-view .add-comment-btn{
    display: none;
}

.c-tenant-view .tenant-body {
    display: flex;
    justify-content: space-between;
}

.c-tenant-view .tenant-info {
    margin-left: 2em;
    margin-top: 1em;
    text-align: left;
}